<ul>

  <% @users.each do |user| %>

    <li>
      <%= user.name %>
      <% if user != current_user%>
      <%= render partial: "shared/follow", locals: {user: user}%>  

      <% end %>
    </li>

  <% end %>

</ul>
