.background_index {
  background-image: url("restaurant_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
background-color: rgba(10%, 10%, 10%, 0.3);
 color:white;
 padding: 40px;
 height: 80%;
 width: 80%;
 margin: auto;
 }
