.background_index {
  background-image: url("restaurant_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.content{
background-color: rgba(10%, 10%, 10%, 0.3);
 color:white;
 padding: 40px;
 height: 80%;
 width: 80%;
 margin: auto;
 }

 .restaurant-item {
   border: 1px solid #ddd;
   border-radius: 4px;
   padding: 4px;
   margin-bottom: 20px;
 }

 .restaurant-item img {
   max-height: 180px;
   width: 100%;
 }

 .restaurant-item .caption {
   padding: 10px;
 }
